.carouselSection {
  position: relative;
  margin-bottom: 70px;
  & > .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .carouselTitle {
    font-size: 20px;
    color: var(--white);
    font-weight: normal;
  }
}

.test {
  width: 200px;
  height: 300px;
}
